@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "retro";

  --color-primary: #81b29a;
  --color-secondary: #f07167;
}

@plugin "daisyui/theme" {
  name: "forest";

  --color-secondary: #f07167;
}
